/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

div.ecomhub-fi-admin {
    margin-top: 1em;
}

div.ecomhub-fi-admin div.ecomhub-fi-table {
    width: 650px;
    height: 700px;
    display: inline-block;
}

div.ecomhub-fi-admin div.ecomhub-fi-detail {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
}

div.ecomhub-fi-admin div.ecomhub-fi-detail div.ecomhub-fi-stats {
    width: 100%;
    padding: 0.5em;
    border: black dashed 1px;
}

div.ecomhub-fi-admin thead td {
    font-weight: bold;
}

div.ecomhub-fi-admin div.ecomhub-fi-stats tr  td:not(:first-child) {
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.ecomhub-fi-admin div.ecomhub-fi-stats tr  td:first-child {
    font-weight: 500;
    font-style: italic;
}

div.ecomhub-fi-admin table.ecomhub-fi-raw-detail tr  td {
    text-align: center;
}
div.ecomhub-fi-admin table.ecomhub-fi-raw-detail tr  td:first-child,
div.ecomhub-fi-admin table.ecomhub-fi-raw-detail tr  td:nth-child(4){
    font-weight: 500;
    font-style: italic;
    text-align: left;
}





div.ecomhub-fi-admin tr:nth-child(even) {background: rgba(175, 224, 243, 0.18)
}
div.ecomhub-fi-admin tr:nth-child(odd) {background: #FFF}


div.ecomhub-fi-admin div.ecomhub-fi-details {
    margin-top: 1em;
}
div.ecomhub-fi-admin div.ecomhub-fi-detail div.ecomhub-fi-details-here {
    min-height: 4em;
    padding: 0.5em;

}